@import "breakpoints";
@import "variables";

.backgroundWrapper {
  position: fixed;
  inset: 0;
  z-index: -1;
  transition: background 0.5s ease;
}

.conicGradient {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  height: 350px;
  background: conic-gradient(
    from 0deg at 50% 50%,
    #ffffff,
    #C0D8D8,
    #ffffff,
    #C0D8D8
  );
  filter: blur(100px);
  opacity: 0.5;
  pointer-events: none;
}
