.footer {
    width: 100%;
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    @include respond(tablet) {
     padding-bottom: 0;
     justify-content: center;
    }
  }
  
  .imageContainer {
    margin-bottom: 1rem;
    padding: 0 50px;
  }
  
  .footerImage {
    height: auto;
  }
  
  .footerText {
    font-family: 'Share Tech Mono', monospace;
    font-size: 9px;
    letter-spacing: 0.5px;
    opacity: 0.8;
  }