@import "breakpoints";
@import "variables";


.galleryContainer {
  padding: 2rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.galleryText {
  font-size: 12px;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 400;
  @include respond(tablet) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // mobile : 2 colonnes
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr); // desktop : 3 colonnes
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
   aspect-ratio: 3 / 4;
  overflow: hidden;
//   border-radius: 12px;
}

.image {
  object-fit: cover;
}
