@import "breakpoints"; 
@import "variables"; 

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.panameStudioLogo {
  width: 50%;
}
