@import "breakpoints";
@import "variables";

.main {
  overflow: hidden;
}

.mainContainer {
  height: 100%;
  position: relative; 
}

.contentOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2; 
  text-align: center;
  color: $color-white;
  pointer-events: none;
}

.panameStudioLogo {
  width: 30vw;
  max-width: 400px;
  height: auto;
}

.title {
  margin: 0;
  width: 50%;
}

.subTitle {
  font-size: 8px;
  margin-top: 5px;
  font-weight: 300;
  letter-spacing: 2px;
  color: $color-black;
  @include respond(tablet) {
    font-size: 20px;
  }
}

.scrollContainer {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.fullscreenSection {
  height: 100vh;
  height: 100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.pageContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 20;
  background-color: transparent;
  width: 100px;
  padding-left: 1rem;
  gap: 2rem;
}

.mapWrapper {
  position: relative;
}

.link {
  color: $color-black;
  font-size: 8px;
  transition: all 0.3s ease;
  opacity: 0.5;
  text-decoration: none;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  @include respond(tablet) {
    font-size: 12px;
  }
}

.link:hover {
  @include respond(tablet) {
    font-weight: 700;
    color: $color-black;
    opacity: 1;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.14);
  }
}

.activeLink {
  font-size: 14px;
  font-weight: 700;
  opacity: 1;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;
  @include respond(tablet) {
    font-size: 22px;
  }
}

.fadeInSection {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  will-change: opacity, transform;
}

.fadeInVisible {
  opacity: 1;
  transform: translateY(0);
}

